@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap');

/* Common Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: "Bellota Text", cursive;
    font-weight: 400;
}

.section-heading{
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
    text-align: center;
    opacity: .1;
    text-shadow: 2rem 2rem 4rem #aaa;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}

/* Section 1 */

.section-1{
    width: 100%;
    height: 100vh;
    position: relative;
}

.floating-bg{
    width: 150vw;
    height: 150vw;
    background-color: rgba(50, 231, 255, .8);
    position: absolute;
    top: -125vw;
    left: calc(50% - 75vw);
    border-radius: 45%;
    animation: rotate 30s infinite;
}

.floating-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(50, 231, 255, .1);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40%;
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

.navbar{
    position: relative;
    z-index: 20;
    top: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.navbar-link{
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    color: #fff;
    width: 1.5rem;
    text-align: center;
    word-wrap: break-word;
    transition: all .5s;

}

.navbar-link:hover{
    width: 15rem;
    background-color: rgba(255, 255, 255, .2);
    transition: all 2.5s;
}

.section-1-heading{
    font-size: 6rem;
    font-family: "Monoton", cursive;
    position: absolute;
    top: 18vw;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: .3rem .3rem .3rem #888;
    color: #fff;
    background-color: #fff;
    width: 85rem;
    text-align: center;
    padding: .8rem 1.6rem;
    border-radius: .8rem;
    opacity: .9;
}

.logo{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.logo i{
    font-size: 15rem;
    color: rgba(50, 231, 255, .8);
    text-shadow: .1rem .1rem .2rem #ddd, -.1rem -.1rem .2rem #ddd;
}

/* Section 2 */

.section-2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.customers-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}

.customer{
    width: 35rem;
    height: 50rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
    transition: box-shadow .5s;
}

.customer:hover{
    box-shadow: 2rem 2rem 3rem #ddd, -2rem -2rem 3rem #eee;
}

.customer:first-child{
    align-self: flex-end;
}

.customer:last-child{
    align-self: flex-start;
}

.fa-quote-left{
    font-size: 4rem;
    color: #f08e0f;
}

.customer-text{
    font-size: 1.8rem;
    margin: 2.5rem 0;
    text-align: justify;
}

.customer-text::first-letter{
    margin-left: 1rem;
}

.customer-rating i{
    font-size: 2rem;
    color: #f08e0f;
}

.customer-img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin: 2rem 0;
    border-radius: 50%;
}

.customer-name{
    font-size: 2rem;
    font-weight: 700;
}

/* Section 3 */
.section-3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 0;
}

.team-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}

.team-member{
    width: 35rem;
    background-color: #fffeee;
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
}

.team-member-img{
    width: 100%;
    border-radius: .5rem;
}

.team-member-name{
    font-size: 2.5rem;
    font-weight: 700;
    color: #796717;
    margin-top: 2rem;
}

.team-member-name span{
    font-size: 1.7rem;
}

.story{
    display: none;
}